body{
    height: 110vh;
  }
  
  header{
    grid-area: he;
  }

  h1{
    grid-area:h1;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Montserrat', serif;
    text-align: center;
    margin-top: 12px;
  }

  nav{
    grid-area: na;
  }

  nav ul {
    list-style: none;
    padding-left: 70px;
    margin-top: 30px;
    display: flex;
    gap: 20px; 
  }

  nav ul li a {
    color: black; 
    text-decoration: none; 
    font-size: 28px; 
}

nav ul li a:hover {
    color: gray;
}

  main{
    grid-area:ma;
    background-image: url('../bilder/rom-main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    text-align: center;
  }

  .intro-text {
    font-size: 65px;
    margin-bottom: 30px;
    font-family: 'Montserrat', serif;
  }

  .produkt-button{
    padding: 5px 50px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: #FFCFCF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  aside{
    grid-area:as;
  }

  footer{
    grid-area:fo;
    background-color: blue;
  }

  #wrapper{
  height:100%;
  display:grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 12% 28% 55% 5%;
  grid-template-areas:
      "he h1 na"
      "ma ma ma"
      "as as as"
      "fo fo fo";
  }



  @media screen and (max-width:700px){

    #wrapper{
      height:500%;
      grid-template-rows: 3% 5% 50% 5%;
      grid-template-areas:
          "he h1 na"
          "ma ma ma"
          "as as as"
          "fo fo fo";
      }
    
    }
